.main_browser
{



margin: 0;
padding: 5px;   
background-color: yellowgreen;

}

.browser{
padding: 5px;


}

.browser
{
background: white;

}

.browser
{

margin: 10px;
font-size: 90%;
padding: 2px;
}


.img {
    text-align: center;
}